@import "tailwindcss";

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMono-Light.woff") format("woff");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMono-Regular.woff") format("woff");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMono-Bold.woff") format("woff");
}

@font-face {
  font-family: JetBrainsMonoNerdFontMono;
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMonoNerdFontMono-Light.woff") format("woff");
}

@font-face {
  font-family: JetBrainsMonoNerdFontMono;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMonoNerdFontMono-Regular.woff")
    format("woff");
}

@font-face {
  font-family: JetBrainsMonoNerdFontMono;
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMonoNerdFontMono-Bold.woff") format("woff");
}

@theme {
  --font-jetbrains: JetBrainsMono;
  --font-jetbrainsmono: JetBrainsMonoNerdFontMono;
  --color-title-red: #ff7b72;
  --color-rich-black: #181818;
  --color-mint-cream: #f7fff7;
  --color-code-red: #ff3131;
  --color-code-grey: #1d2a37;
  --color-code-yellow: #e19450;
  --color-code-orange: #f39f53;
  --color-code-lime: #cefe86;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
