@import "tailwindcss";

@font-face {
  font-family: JetBrains;
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: JetBrains;
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: JetBrains;
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("/static/fonts/JetBrainsMono-Bold.ttf") format("truetype");
}

@theme {
  --font-jetbrains: JetBrains;
  --color-rich-black: #001514;
  --color-french-mauve: #ca61c3;
  --color-egg-blue: #4ecdc4;
  --color-mint-cream: #f7fff7;
  --color-napies-yellow: #ffe66d;
  --color-code-red: #ff3131;
  --color-code-grey: #1d2a37;
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
