{{ block "index" . }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="data:," />
        <link rel="stylesheet" href="/static/output.css"/>
        <link rel="preload" href="/static/icons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="/static/fonts/JetBrainsMono-Light.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/static/fonts/JetBrainsMono-Bold.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/static/fonts/SymbolsNerdFont.woff2" as="font" type="font/woff2" crossorigin>
        <script src="/static/scripts/src.min.js" defer=""></script>
        <title>Blog preview</title>
    </head>
    <body class="bg-rich-black text-mint-cream font-jetbrains scroll-auto text-sm">
        <div class="grid-rows-10 fixed grid h-screen w-screen grid-cols-5">
            <div class="top-bar border-b-1 col-span-5 border-gray-500"></div>
            <div 
                class="side-bar row-span-9 toc hidden md:flex md:flex-col md:p-8"
            >
                {{ .TOC }}
            </div>
            <div 
                id="main"
                class="row-span-14 toc border-l-1 col-span-5 overflow-y-auto border-gray-500 p-3 md:col-span-4">
                <div 
                    id="content"
                    class="w-auto px-8 md:w-3/4"
                >
                    {{ .Content }}
                    <hr class="my-8 text-gray-500">
                    <p class="p-4 text-center">Some contact here</p>
                    <hr class="my-8 text-gray-500">

                </div>
            </div>
        </div>
        {{ template "notification" . }}
    </body>
</html>
{{ end }}

{{ block "notification" . }}
        <div
            id="notification"
            class="fixed bottom-8 right-8 w-1/6"
        >
            <template>
                {{ template "noti-card" ( arr "successful" "text-code-green" ) }}
                {{ template "noti-card" ( arr "warning" "text-code-yellow" ) }}
                {{ template "noti-card" ( arr "error" "text-code-red" ) }}
                {{ template "noti-card" ( arr "default" "text-gray-300" ) }}
            </template>
        </div>
{{ end }}

{{ block "noti-card" . }}
    <div 
        class="{{ index . 0 }} relative flex mt-2 bg-rich-black {{ index . 1 }} border"
    >
        <p class="w-4/5 px-4 py-2"></p> 
        <span class="relative flex w-1/5 cursor-pointer select-none items-center justify-center border-l text-lg hover:underline">✗</span>
    </div>
{{ end }}
