{{ block "index" . }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="data:," />
        <link rel="stylesheet" href="/static/output.css"/>
        <script src="/static/scripts/src.js" defer=""></script>
        <title>Blog preview</title>
    </head>
    <body class="bg-rich-black text-mint-cream font-jetbrains text-sm scroll-auto">
        <div class="fixed w-screen h-screen grid grid-cols-5 grid-rows-10">
            <div class="top-bar col-span-5 border-b-1 border-gray-500"></div>
            <div 
                class="side-bar row-span-9 toc hidden md:flex md:flex-col md:p-8"
            >
                {{ .TOC }}
            </div>
            <div 
                id="main"
                class="col-span-5 row-span-14 toc md:col-span-4 p-3 overflow-y-auto border-l-1 border-gray-500">
                <div 
                    id="content"
                    class="w-auto md:w-3/4 px-8"
                >
                    {{ .Content }}
                    <hr class="text-gray-500 my-8">
                    <p class="p-4 text-center">Some contact here</p>
                    <hr class="text-gray-500 my-8">

                </div>
            </div>
        </div>
        {{ template "notification" . }}
    </body>
</html>
{{ end }}

{{ block "notification" . }}
        <div
            id="notification"
            class="fixed bottom-8 right-8 w-1/6"
        >
            <template>
                <div 
                    class="successful relative flex mt-2 bg-rich-black text-code-green border"
                >
                    <p class="px-4 py-2 w-4/5"></p> 
                    <span class="relative flex w-1/5 items-center justify-center text-lg border-l cursor-pointer select-none hover:underline">✗</span>
                </div>
                <div 
                    class="warning relative flex mt-2 bg-rich-black text-code-yellow border"
                >
                    <p class="px-4 py-2 w-4/5"></p> 
                    <span class="relative flex w-1/5 items-center justify-center text-lg border-l cursor-pointer select-none hover:underline">✗</span>
                </div>
                <div 
                    class="error relative flex mt-2 bg-rich-black text-code-red border"
                >
                    <p class="px-4 py-2 w-4/5"></p> 
                    <span class="relative flex w-1/5 items-center justify-center text-lg border-l cursor-pointer select-none hover:underline">✗</span>
                </div>
                <div 
                    class="default relative flex mt-2 bg-rich-black text-code-grey border"
                >
                    <p class="px-4 py-2 w-4/5"></p> 
                    <span class="relative flex w-1/5 items-center justify-center text-lg border-l cursor-pointer select-none hover:underline">✗</span>
                </div>
            </template>
        </div>
{{ end }}
