{{ block "frontmatter" . }}
    <p
        class="text-title-red mb-2 mt-8 text-5xl" 
    >{{ .Title }}</p> 
    <p class="text-sm text-gray-400">{{ .Date }}</p>
    <div
        class="my-6"
    > 
        {{ range .Tags }}
        <a 
            href="?tag={{ . }}" 
            class="text-code-orange bg-code-orange/30 px-1  py-[2px] text-sm hover:underline active:underline"
        >#{{ . }}</a> 
        {{ end }}
    </div>
    <hr class="text-gray-500">
    <div class="toc bg-code-grey my-4 flex flex-col p-2 md:hidden">{{ .TOC }}</div>
    <hr class="block text-gray-500 md:hidden"> 
{{ end }}

{{ block "heading" . }}
    {{ if eq .Type 1 }}
        <h1 
            id="{{ .Link }}" 
            class="text-title-red hover:after:font-jetbrainsmono my-6 cursor-pointer gap-4 text-3xl hover:after:text-gray-500 hover:after:content-['']"
            noti="true"
        > 
            {{ .Value }}
        </h1>
    {{ else if eq .Type 2 }}
        <h2 
            id="{{ .Link }}" 
            class="text-title-red hover:after:font-jetbrainsmono relative my-4 flex cursor-pointer gap-4 text-2xl hover:after:text-gray-500 hover:after:content-['']"
            noti="true"
        > 
            {{ .Value }}
        </h2>
    {{ else if eq .Type 3 }}
        <h3 
            id="{{ .Link }}" 
            class="text-title-red hover:after:font-jetbrainsmono relative my-4 flex cursor-pointer gap-4 text-xl hover:after:text-gray-500 hover:after:content-['']"
            noti="true"
        > 
            {{ .Value }}
        </h3>
    {{ else if eq .Type 4 }}
        <h4 
            id="{{ .Link }}" 
            class="text-title-red hover:after:font-jetbrainsmono relative my-2 flex cursor-pointer gap-4 text-lg hover:after:text-gray-500 hover:after:content-['']"
            noti="true"
        > 
            {{ .Value }}
        </h4>
    {{ else if eq .Type 5 }}
        <h5 
            id="{{ .Link }}" 
            class="text-title-red hover:after:font-jetbrainsmono relative my-2 flex cursor-pointer gap-4 text-lg hover:after:text-gray-500 hover:after:content-['']"
            noti="true"
        > 
            {{ .Value }}
        </h5>
    {{ end }}
    {{ .Children }}
{{ end }}

{{ block "paragraph" . }}
    <li class="ml-2 list-none">
        {{ .Values }} 
        {{ if ne .Children "" }}
            <ul class="list-inside pl-4">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "hyphen-list" . }}
    <li class="ml-2 list-none">
        <span class="text-gray-400">–</span>
            {{ .Values }} 
        {{ if ne .Children "" }}
            <ul class="list-inside pl-4">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "numbered-list" . }}
    <li class="ml-2 list-none">
        <span class="text-gray-400">{{ .Number }}</span>
            {{ .Values }}
        {{ if ne .Children "" }}
            <ul class="list-inside pl-4">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "quote" . }}
    <blockquote class="border-1 text-silver relative my-16 ml-4 flex items-center justify-center px-4 py-8 text-lg italic">
        <p class="font-jetbrainsmono bg-rich-black absolute left-5 top-0 -translate-y-5 pl-4 pr-6 text-center text-4xl">󰉾</p>
        {{ .Values }}
    </blockquote>
{{ end }}

{{ block "callout" . }}
    {{ if eq .Values "Note" }}
        <div class="bg-aqua/10 border-1 border-aqua my-16 ml-4 p-4">
            <p class="text-aqua mb-4">{{ .Values }}</p>
        {{ .Children }}
        </div>
    {{ else if eq .Values "Important" }}
        <div class="bg-code-purple/10 border-1 border-code-purple my-16 ml-4 p-4">
            <p class="text-code-purple mb-4">{{ .Values }}</p>
        {{ .Children }}
        </div>
    {{ else if eq .Values "Warning" }}
        <div class="bg-warning-yellow/10 border-1 border-warning-yellow my-16 ml-4 p-4">
            <p class="text-warning-yellow mb-4">{{ .Values }}</p>
        {{ .Children }}
        </div>
    {{ else if eq .Values "Warning" }}
        <div class="bg-code-grey/10 border-1 border-code-grey my-16 ml-4 p-4">
            <p class="text-code-grey mb-4">{{ .Values }}</p>
        {{ .Children }}
        </div>
    {{ end }}
{{ end }}

{{ block "codeblock" . }}
    <div
        class="codeblock bg-code-grey relative my-8 ml-4 flex border border-gray-500 px-2 py-4 pt-12 md:py-8 md:pt-14"
    >
        {{ if eq .Language "go" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#05a5d0]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "html" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#dc4a25]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "css" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#623194]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "javascript" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#f7d104]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "zig" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#f7a41d]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "json" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#cbcb41]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "toml" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#a1a1aa]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "bash" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#89e051]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "config" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#6d8086]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "lua" }}
            <p class="font-jetbrains absolute left-3 top-3 text-[#000080]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else }}
            <p class="font-jetbrains absolute left-3 top-3 text-gray-400"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ end }}
        <button
            class="clipboard size-8 bg-code-grey font-jetbrainsmono absolute right-3 top-3 cursor-pointer border text-lg text-gray-400 hover:brightness-125 active:brightness-90"   
            noti="true"
        ></button>
        <div class="relative mx-3 text-gray-500">
            {{ range $i, $el := .Code }}
                <p class="code-gutter text-md text-right">{{ sum $i 1 }}</p>
            {{ end }}
        </div>
        <pre class="font-jetbrains relative ml-1 flex flex-col overflow-x-auto md:whitespace-pre-wrap md:break-normal">
            {{ range .Code }}
                {{ if eq . "" }}
                    <p class="code-line text-md"> </p>
                {{ else }}
                    <p class="code-line text-md">{{ . }}</p>
                {{ end }}
            {{ end }}
        </pre>
    </div>
{{ end }}

{{ block "text" . }}
    <span>{{ .Value }}</span>
{{ end }}

<!--NOTE: Using javascript (or if can CSS) to automatically prevent the viewport from clipping the pop up-->
{{ block "youtube-preview" . }}
    <div
        class="pop-up w-128 pop-up-bottom bg-rich-black text-title-red invisible absolute z-50 flex border p-2 delay-0 hover:visible"
    >
        <img 
            class="m-1 outline outline-offset-[-1px] brightness-90"
            src="{{ .Thumbnails.Medium.URL }}"  
            alt="{{ .Title }}" 
            width="160px" 
            height="90px"
        >
        <div class="m-1 flex flex-col gap-4">
            <a 
                href="{{ .VideoURL }}" 
                class="text-title-red hover:underline active:underline"
            >
                {{ .Title }}
            </a>
            <a 
                href="{{ .ChannelURL }}" 
                class="text-title-red/75 text-xs hover:underline active:underline"
            >
                <span class="text-md"></span> {{ .ChannelTitle }}
            </a>
        </div>
    </div>
{{ end }}

{{ block "github-branches-preview" . }}
    <div class="pop-up z-60 pop-up-bottom text-code-purple bg-code-purple invisible absolute flex w-64 flex-col gap-[1px] border delay-0 hover:visible">
        {{ range .Branches }}
            <a
                href="https://github.com/{{ $.Owner }}/{{ $.Repo }}/tree/{{ .Name }}"
                class="bg-rich-black p-2 hover:underline"
            >
                {{ .Name }}
            </a>
        {{ end }}
    </div>
{{ end }}

{{ block "github-preview" . }}
    <div
        class="pop-up w-128 pop-up-bottom bg-rich-black text-title-purple invisible absolute z-50 flex flex-col justify-between border p-2 delay-0 hover:visible"
    >
        <div class="ml-2 flex items-center">
            <span class="mr-2 text-xl"></span>
            <a  
                class="hover:underline active:underline" 
                href="https://github.com/{{ .Owner }}"
            >
                {{ .Owner }}
            </a>
            <span>/</span>
            <a 
                class="hover:underline active:underline" 
                href="https://github.com/{{ .Owner }}/{{ .Repo }}"
            >
                {{ .Repo }}
            </a>
        </div> 
        <div class="2 ml-2 flex items-center justify-between text-xs">
            <div 
                class="text-code-purple/75 relative flex items-center hover:[&>div.pop-up]:visible"
            >
                {{ template "github-branches-preview" . }}
                <a 
                    class="text-code-purple/75 flex items-center hover:[&>span.text]:underline"
                    href="https://github.com/{{ .Owner }}/{{ .Repo }}/branches"
                >
                        <span class="mr-2 text-xl"></span>
                        <span class="text">{{ len .Branches }} branch(es)</span>
                </a>
            </div>
            <a 
                href="{{ .Commit.HTMLURL }}"
                class="text-code-purple/75 flex items-center hover:[&>span.text]:underline"
            >
                <span class="mr-2 text-xl"></span>
                <span class="text">{{ .TimeSinceLastCommit }}</span>
            </a>
        </div>
    </div>
{{ end }}

{{ block "link" . }}
    {{ if eq .Type "Youtube" }}
        <span
            class="font-jetbrainsmono relative text-[#fe314d] hover:[&>div.pop-up]:visible"
        >
            {{ .Preview }}
            <a href="{{ .Link }}" class="hover:underline"> {{ .Placeholder }}</a>
        </span>
    {{ else if eq .Type "Github" }}
        <span
            class="font-jetbrainsmono text-code-purple relative hover:[&>div.pop-up]:visible"
        >
            {{ .Preview }}
            <a href="{{ .Link }}" class="hover:underline"> {{ .Placeholder }}</a>
        </span>
    {{ else if eq .Type "Reddit" }}
        <a
            class="font-jetbrainsmono text-[#ff4500] hover:underline"
            href="{{ .Link }}"
        > {{ .Placeholder }}</a>
    {{ else if eq .Type "Gopkg" }}
        <a
            class="font-jetbrainsmono text-[#027d9c] hover:underline"
            href="{{ .Link }}"
        > {{ .Placeholder }}</a>
    {{ else }}
        <a
            class="font-jetbrainsmono text-code-lime hover:underline"
            href="{{ .Link }}"
        > {{ .Placeholder }}</a>
    {{ end }}
{{ end }}

{{ block "inline-code" . }}
    <code class="border-code-grey bg-code-grey text-code-lime font-jetbrains whitespace-pre border-2">{{ .Value }}</code>
{{ end }}

{{ block "TOC" . }}
    {{ if eq .Type 1 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter text-md text-title-red md:text-title-red/75 ml-2 cursor-pointer pl-4 hover:underline active:underline md:border-l-2">{{ .Value }}
        </a>
    {{ else if eq .Type 2 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter text-md text-title-red md:text-title-red/75 ml-2 cursor-pointer py-1 pl-8 hover:underline active:underline md:border-l-2">{{ .Value }}
        </a>
    {{ else if eq .Type 3 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter text-md text-title-red md:text-title-red/75 ml-2 cursor-pointer py-1 pl-12 hover:underline active:underline md:border-l-2">{{ .Value }}
        </a>
    {{ else if eq .Type 4 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter text-md text-title-red md:text-title-red/75 ml-2 cursor-pointer py-1 pl-16 hover:underline active:underline md:border-l-2">{{ .Value }}
        </a>
    {{ else if eq .Type 5 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter text-md text-title-red md:text-title-red/75 ml-2 cursor-pointer py-1 pl-20 hover:underline active:underline md:border-l-2">{{ .Value }}
        </a>
    {{ end }}
    {{ .Children }}
{{ end }}

{{ block "bold-text" . }}
    <span class="font-bold">{{ .Value }}</span>
{{ end }}

{{ block "italic-text" . }}
    <span class="italic">{{ .Value }}</span>
{{ end }}
