{{ block "frontmatter" . }}
    <p
        class="mt-8 mb-2 text-5xl text-title-red" 
    >{{ .Title }}</p> 
    <p class="text-sm text-gray-400">{{ .Date }}</p>
    <div
        class="my-6"
    > 
        {{ range .Tags }}
        <a 
            href="?tag={{ . }}" 
            class="px-1 py-[2px] text-sm  text-code-orange bg-code-orange/30 hover:underline active:underline"
        >#{{ . }}</a> 
        {{ end }}
    </div>
    <hr class="text-gray-400">
    <div class="toc flex flex-col md:hidden p-2 my-4 bg-code-grey">{{ .TOC }}</div>
    <hr class="block md:hidden text-gray-400"> 
{{ end }}

<!--COMMIT: Add copy functionality when click on heading-->
<!--COMMIT: Add a universal notification for successful copying (message differ based on what is copied)-->
{{ block "heading" . }}
    {{ if eq .Type 1 }}
        <h1 id="{{ .Link }}" class="my-6 text-3xl text-title-red">{{ .Value }}</h1>
    {{ else if eq .Type 2 }}
        <h2 id="{{ .Link }}" class="my-4 text-2xl text-title-red">{{ .Value }}</h2>
    {{ else if eq .Type 3 }}
        <h3 id="{{ .Link }}" class="my-4 text-xl text-title-red">{{ .Value }}</h3>
    {{ else if eq .Type 4 }}
        <h4 id="{{ .Link }}" class="my-2 text-lg text-title-red">{{ .Value }}</h4>
    {{ else if eq .Type 5 }}
        <h5 id="{{ .Link }}" class="my-2 text-lg text-title-red">{{ .Value }}</h5>
    {{ end }}
    {{ .Children }}
{{ end }}

{{ block "paragraph" . }}
    <p class="ml-2">{{ .Value }}</p> 
{{ end }}

{{ block "hyphen-list" . }}
    <li class="ml-2 list-none">
        <span class="text-gray-400">–</span>
            {{ .Values }} 
        {{ if ne .Children "" }}
            <ul class="pl-4 list-inside">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "numbered-list" . }}
    <li class="ml-2 list-none">
        <span class="text-gray-400">{{ .Number }}</span>
            {{ .Values }}
        {{ if ne .Children "" }}
            <ul class="pl-4 list-inside">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "quote" . }}
    <blockquote class="relative flex ml-4 my-16 px-4 py-8 items-center justify-center border-1 text-lg italic text-silver">
        <p class="absolute font-jetbrainsmono pl-4 pr-6 bg-rich-black text-4xl top-0 left-5 -translate-y-5 text-center">󰉾</p>
        {{ .Values }}
    </blockquote>
{{ end }}

{{ block "callout" . }}
    {{ if eq .Values "Note" }}
        <div class="ml-4 my-16 p-4 bg-aqua/10 border-1 border-aqua">
            <p class="text-aqua mb-4">{{ .Values }}</p>
        {{ .Children }}
        </div>
    {{ else if eq .Values "Important" }}
        <div class="ml-4 my-16 p-4 bg-code-purple/10 border-1 border-code-purple">
            <p class="text-code-purple mb-4">{{ .Values }}</p>
        {{ .Children }}
        </div>
    {{ else if eq .Values "Warning" }}
        <div class="ml-4 my-16 p-4 bg-warning-yellow/10 border-1 border-warning-yellow">
            <p class="text-warning-yellow mb-4">{{ .Values }}</p>
        {{ .Children }}
        </div>
    {{ else if eq .Values "Warning" }}
        <div class="ml-4 my-16 p-4 bg-code-grey/10 border-1 border-code-grey">
            <p class="text-code-grey mb-4">{{ .Values }}</p>
        {{ .Children }}
        </div>
    {{ end }}
{{ end }}

<!--COMMIT: Add number column for code block-->
{{ block "codeblock" . }}
    <div
        class="codeblock relative flex ml-4 my-8 p-4 md:p-8 pt-12 md:pt-14 bg-code-grey"
    >
        {{ if eq .Language "go" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#05a5d0]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "html" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#dc4a25]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "css" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#623194]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "javascript" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#e8d44e]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "zig" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#f7a41d]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "json" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#cbcb41]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "toml" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#a1a1aa]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "bash" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#89e051]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "config" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#6d8086]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "lua" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#000080]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else }}
            <p class="absolute top-3 left-3 font-jetbrains text-gray-400"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ end }}
        <button
            class="clipboard absolute top-3 right-3 size-8 bg-code-grey text-gray-400 border font-jetbrainsmono cursor-pointer text-lg hover:brightness-125 active:brightness-90"   
        ></button>
        <pre class="overflow-x-auto md:whitespace-pre-wrap md:break-normal">{{ .Code }}</pre>
    </div>
{{ end }}

{{ block "inline-paragraph" . }}
    <span>{{ .Value }}</span>
{{ end }}

{{ block "link" . }}
    {{ if eq .Type "Youtube" }}
        <a
            class="font-jetbrainsmono text-[#fe314d] hover:underline"
            href="{{ .Link }}"
        > {{ .Placeholder }}</a>
    {{ else if eq .Type "Github" }}
        <a
            class="font-jetbrainsmono text-[#fafbfc] hover:underline"
            href="{{ .Link }}"
        > {{ .Placeholder }}</a>
    {{ else if eq .Type "Reddit" }}
        <a
            class="font-jetbrainsmono text-[#ff4500] hover:underline"
            href="{{ .Link }}"
        > {{ .Placeholder }}</a>
    {{ else if eq .Type "Gopkg" }}
        <a
            class="font-jetbrainsmono text-[#027d9c] hover:underline"
            href="{{ .Link }}"
        > {{ .Placeholder }}</a>
    {{ else }}
        <a
            class="font-jetbrainsmono text-code-purple hover:underline"
            href="{{ .Link }}"
        > {{ .Placeholder }}</a>
    {{ end }}
{{ end }}

{{ block "inline-code" . }}
    <code class="whitespace-pre border-2 border-code-grey bg-code-grey text-code-lime font-jetbrains">{{ .Value }}</code>
{{ end }}

{{ block "TOC" . }}
    {{ if eq .Type 1 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter border-l-2 text-md ml-2 pl-4 text-title-red md:text-title-red/75 hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ else if eq .Type 2 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter border-l-2 text-md ml-2 pl-8 py-1 text-title-red md:text-title-red/75 hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ else if eq .Type 3 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter border-l-2 text-md ml-2 pl-12 py-1 text-title-red md:text-title-red/75 hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ else if eq .Type 4 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter border-l-2 text-md ml-2 pl-16 py-1 text-title-red md:text-title-red/75 hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ else if eq .Type 5 }}
        <a 
            href="#{{ .Link }}" 
            class="chapter border-l-2 text-md ml-2 pl-20 py-1 text-title-red md:text-title-red/75 hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ end }}
    {{ .Children }}
{{ end }}

{{ block "bold-text" . }}
    <span class="bold">{{ .Value }}</span>
{{ end }}
