{{ block "frontmatter" . }}
    <h1
        class="mt-8 mb-2 text-5xl text-title-red" 
    >{{ .Title }}</h1>
    <p class="text-sm text-gray-400">{{ .Date }}</p>
    <div
        class="my-6"
    > 
        {{ range .Tags }}
            <span class="text-sm"> {{ . }}</span> 
        {{ end }}
    </div>
    <hr class="text-gray-400">
{{ end }}

{{ block "heading" . }}
    {{ if eq .Type 1 }}
        <h1 class="my-6 text-3xl text-title-red">{{ .Value }}</h1>
    {{ else if eq .Type 2 }}
        <h2 class="my-4 text-2xl text-title-red">{{ .Value }}</h2>
    {{ else if eq .Type 3 }}
        <h3 class="my-4 text-xl text-title-red">{{ .Value }}</h3>
    {{ else if eq .Type 4 }}
        <h4 class="my-2 text-lg text-title-red">{{ .Value }}</h4>
    {{ else if eq .Type 5 }}
        <h5 class="my-2 text-lg text-title-red">{{ .Value }}</h5>
    {{ end }}
    {{ .Children }}
{{ end }}

{{ block "paragraph" . }}
    <p class="ml-2">{{ .Value }}</p> 
{{ end }}

{{ block "hyphen-list" . }}
    <li class="ml-2 list-none">
        <span class="whitespace-pre">– </span>
            {{ .Values }} 
        {{ if ne .Children "" }}
            <ul class="pl-4 list-inside">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "numbered-list" . }}
    <li class="ml-2 list-none">
        <span class="whitespace-pre">{{ .Number }}</span>
            {{ .Values }}
        {{ if ne .Children "" }}
            <ul class="pl-4 list-inside">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "quote" . }}
    <blockquote class="ml-4">{{ .Values }}</blockquote>
{{ end }}

{{ block "callout" . }}
    <div class="ml-4">
        <p>{{ .Values }}</p>
        {{ .Children }}
    </div>
{{ end }}


{{ block "codeblock" . }}
    <pre class="ml-4" data-lang="{{ .Language }}">
        {{ .Code }}
    </pre>
{{ end }}

{{ block "inline-paragraph" . }}
    <span>{{ .Value }}</span>
{{ end }}

{{ block "link" . }}
    <a href="{{ .Link }}">{{ .Placeholder }}</a>
{{ end }}

<!--COMMIT: Add visual for inline codes-->
{{ block "inline-code" . }}
    <code class="whitespace-pre border-2 border-code-grey rounded-sm bg-code-grey text-code-red">{{ .Value }}</code>
{{ end }}

