{{ block "frontmatter" . }}
    <h1
        class="mt-8 mb-2 text-5xl text-title-red" 
    >{{ .Title }}</h1>
    <p class="text-sm text-gray-400">{{ .Date }}</p>
    <div
        class="my-6"
    > 
        {{ range .Tags }}
        <a 
            href="?tag={{ . }}" 
            class="px-1 py-[2px] text-sm  text-code-orange bg-code-orange/30 hover:underline active:underline"
        >#{{ . }}</a> 
        {{ end }}
    </div>
    <hr class="text-gray-400">
    <div class="flex flex-col sm:hidden p-2 my-4 bg-code-grey">{{ .TOC }}</div>
    <hr class="block sm:hidden text-gray-400"> 
{{ end }}

{{ block "heading" . }}
    {{ if eq .Type 1 }}
        <h1 id="{{ .Link }}" class="my-6 text-3xl text-title-red">{{ .Value }}</h1>
    {{ else if eq .Type 2 }}
        <h2 id="{{ .Link }}" class="my-4 text-2xl text-title-red">{{ .Value }}</h2>
    {{ else if eq .Type 3 }}
        <h3 id="{{ .Link }}" class="my-4 text-xl text-title-red">{{ .Value }}</h3>
    {{ else if eq .Type 4 }}
        <h4 id="{{ .Link }}" class="my-2 text-lg text-title-red">{{ .Value }}</h4>
    {{ else if eq .Type 5 }}
        <h5 id="{{ .Link }}" class="my-2 text-lg text-title-red">{{ .Value }}</h5>
    {{ end }}
    {{ .Children }}
{{ end }}

{{ block "paragraph" . }}
    <p class="ml-2">{{ .Value }}</p> 
{{ end }}

{{ block "hyphen-list" . }}
    <li class="ml-2 list-none">
        <span class="text-gray-400">–</span>
            {{ .Values }} 
        {{ if ne .Children "" }}
            <ul class="pl-4 list-inside">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "numbered-list" . }}
    <li class="ml-2 list-none">
        <span class="text-gray-400">{{ .Number }}</span>
            {{ .Values }}
        {{ if ne .Children "" }}
            <ul class="pl-4 list-inside">{{ .Children }}</ul>
        {{ end }}
    </li>
{{ end }}

{{ block "quote" . }}
    <blockquote class="ml-4">{{ .Values }}</blockquote>
{{ end }}

{{ block "callout" . }}
    <div class="ml-4">
        <p>{{ .Values }}</p>
        {{ .Children }}
    </div>
{{ end }}

<!--COMMIT: Disable wrap for mobile version-->
<!--COMMIT: Add clipboard button-->
{{ block "codeblock" . }}
    <div
        class="relative flex ml-4 my-8 p-4 pt-12 bg-code-grey"
    >
        {{ if eq .Language "go" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#05a5d0]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "html" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#dc4a25]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "css" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#623194]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "javascript" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#e8d44e]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "zig" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#f7a41d]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "json" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#cbcb41]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "toml" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#a1a1aa]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "bash" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#89e051]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "config" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#6d8086]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else if eq .Language "lua" }}
            <p class="absolute top-3 left-3 font-jetbrains text-[#000080]"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ else }}
            <p class="absolute top-3 left-3 font-jetbrains text-gray-400"><span class="font-jetbrainsmono mr-2"></span>{{ .Language }}</p>
        {{ end }}
        <pre class="overflow-x-auto sm:whitespace-pre-wrap sm:break-normal">{{ .Code }}</pre>
    </div>
{{ end }}

{{ block "inline-paragraph" . }}
    <span>{{ .Value }}</span>
{{ end }}

{{ block "link" . }}
    <a href="{{ .Link }}">{{ .Placeholder }}</a>
{{ end }}

{{ block "inline-code" . }}
    <code class="whitespace-pre border-2 border-code-grey bg-code-grey text-code-lime font-jetbrains">{{ .Value }}</code>
{{ end }}

{{ block "TOC" . }}
    {{ if eq .Type 1 }}
        <a 
            href="#{{ .Link }}" 
            class="text-md text-title-red hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ else if eq .Type 2 }}
        <a 
            href="#{{ .Link }}" 
            class="text-md ml-2 text-title-red hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ else if eq .Type 3 }}
        <a 
            href="#{{ .Link }}" 
            class="text-md ml-2 text-title-red hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ else if eq .Type 4 }}
        <a 
            href="#{{ .Link }}" 
            class="text-md ml-2 text-title-red hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ else if eq .Type 5 }}
        <a 
            href="#{{ .Link }}" 
            class="text-md ml-2 text-title-red hover:underline active:underline cursor-pointer">{{ .Value }}
        </a>
    {{ end }}
    {{ .Children }}
{{ end }}
